<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row">
        <ul>
            <li> <a href="Home/">Mevcut Otoparklar</a></li>

            <li> <a href="Home/">Seçilen Otoparklar</a></li>
            <li> <a href="Home/">Tablo Gösterimi</a></li>
        </ul>

    </div>
   
    <div>
        @RenderBody()
    </div>
</body>
</html>
