
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CarParkSample.Models.ORM.Record>


<title>Car Park Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp'>
@*<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>*@



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>


<style>
  
    .container {
        margin-top: 100px
    }

    .counter-box {
        display: block;
        background: #f6f6f6;
        padding: 40px 20px 37px;
        text-align: center;
            height:200px
    }

        .counter-box p {
            margin: 5px 0 0;
            padding: 0;
            color: #f6f6f6;
            font-size: 18px;
            font-weight: 500
        }

        .counter-box i {
            font-size: 60px;
            margin: 0 0 15px;
            color: #d2d2d2
        }

    .counter {
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #f6f6f6;
        line-height: 28px
    }

    .counter-box.colored {
        background-color: slateblue
    }
    .counter-box.colored2 {
        background-color: teal
    }
    .counter-box.colored3 {
        background-color:tomato
    }
    .counter-box.colored4 {
        background-color: dodgerblue
    }

        .counter-box.colored p,
        .counter-box.colored i,
        .counter-box.colored .counter {
            color: #fff
        }
</style>


<body>

    <div class="container">
        <div class="row">
            <div class="four col-md-3">
                <div class="counter-box colored">
                    <i class="fa fa-thumbs-o-up"></i> <span class="counter">500</span>
                                                      <p>Kayıtlı Otopark Sayısı</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box colored2">
                    <i class="fa fa-group"></i> <span class="counter">340</span>
                                                <p>Yol Üstü Otopark Sayısı</p>
                </div>
            </div>
            <div class="four col-md-3 ">
                <div class="counter-box colored3">
                    <i class="fa fa-shopping-cart"></i> <span class="counter">63</span>
                                                        <p>Açık Otopark Sayısı</p>
                </div>
            </div>
            <div class="four col-md-3 ">
                <div class="counter-box colored4">
                    <i class="fa fa-user"></i> <span class="counter">34</span>
                                               <p>Kapalı Otopark Sayısı</p>
                </div>
            </div>
        </div>
    </div>

   

</body>

<script>
    $(document).ready(function () {

        $('.counter').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });

    });
</script>



