
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CarParkSample.Models.ORM.Record>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<title>Car Park Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="css/style.css">

<style>
        /*.container{
            display:flex;
            justify-content:col        justify-content:center;
        }
    */

</style>


<body>
    <div class="container">
        <div class="sectiontitle">
            <h2>Rakamlar</h2>
            <span class="headerLine"></span>
        </div>
        <div id="projectFacts" class="sectionClass">
            <div class="fullWidth eight columns">
                <div class="projectFactsWrap ">
                    <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                        <i class="fas fa-parking"></i>

                        <p id="number1" class="number">500</p>


                        <span></span>
                        <p>Kayıtlı Otopark Sayısı</p>
                    </div>
                    <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                        <i class="fa fa-smile-o"></i>
                        <p id="number2" class="number">55</p>
                        <span></span>
                        <p>Yol Üstü Otopark Sayısı </p>
                    </div>
                    <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                        <i class="fa fa-coffee"></i>
                        <p id="number3" class="number">359</p>
                        <span></span>
                        <p>Açık Otopark Sayısı</p>
                    </div>
                    <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                        <i class="fa fa-camera"></i>
                        <p id="number4" class="number">246</p>
                        <span></span>
                        <p>KApalı Otopark Sayısı</p>
                    </div>
                </div>
            </div>
        </div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



        <script src="js/index.js"></script>

    </div>




</body>
<script>$.fn.jQuerySimpleCounter = function (options) {
        var settings = $.extend({
            start: 0,
            end: 100,
            easing: 'swing',
            duration: 400,
            complete: ''
        }, options);

        var thisElement = $(this);

        $({ count: settings.start }).animate({ count: settings.end }, {
            duration: settings.duration,
            easing: settings.easing,
            step: function () {
                var mathCount = Math.ceil(this.count);
                thisElement.text(mathCount);
            },
            complete: settings.complete
        });
    };


    $('#number1').jQuerySimpleCounter({ end: 500, duration: 2000 });
    $('#number2').jQuerySimpleCounter({ end: 55, duration: 3000 });
    $('#number3').jQuerySimpleCounter({ end: 359, duration: 2000 });
    $('#number4').jQuerySimpleCounter({ end: 246, duration: 2500 });



    </script>




